---
import { SITE } from 'astrowind:config';
---

<img
  src="/src/assets/images/Paceinsights.png"
  alt="{SITE?.name} Logo"
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 h-12 md:h-10"
/>

{/*
<span
  class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  🚀 {SITE?.name}
</span>
*/}